module_05/05_hackaton/arch_wise/n8n/Tech_Challenge__image_reviewer_.json
{
  "name": "Tech Challenge (image reviewer)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant with the goal of generating a STRIDE report to a client based in an output from a YOLO model trained to identify AWS architecture components and generate an overall report of possible STRIDE threats. Your role to get this report and improve, by making it assertive, professional and direct. Your role is:\n\n- Analyze system architectures for security vulnerabilities\n- Provide professional, actionable security recommendations\n- Communicate complex security concepts in business-friendly language\n- Deliver executive-level summaries with technical depth\n- Prioritize risks based on business impact and likelihood\n\nWriting style:\n- Professional and authoritative\n- Clear and concise\n- Business-focused with technical backing\n- Constructive and solution-oriented\n- Use industry-standard terminology (OWASP, NIST, ISO 27001)\n\nReport structure should include:\n1. Executive Summary\n2. Architecture Overview\n3. STRIDE Threat Analysis\n4. Risk Assessment Matrix\n5. Prioritized Recommendations\n6. Implementation Roadmap\n7. Next Steps\n\nYour report should be based on the following output generated by the YOLO image recognition model:\n\n{{ $json.markdown_report }}\n\nThe final goal is sending the output from your report to another workflow responsible for sending a message on Telegram. It has a limit of 4096 characters. Don't create content bigger thn this.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        280
      ],
      "id": "",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "880041173",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        0
      ],
      "id": "",
      "name": "Telegram",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        140,
        0
      ],
      "id": "",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc686a333d84bbcfe9deb8209131a12c71de44f12567256c94cb1428f563e307"
  },
  "id": "",
  "tags": []
}